<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  </head>
  <body>
    <h1> Test! !! !! !! !! !! !! !! !! !! !! !! !! </h1>
    <% require 'pg' %>
    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>
    <form action="indicate.cgi" method="POST">
       Please enter the characters in the following <Br><Br>
      <input type="text"  name="input"><br>
      <input type="submit" name="送信">
    </form>
    <% result = connection.exec("select weight, give_for from crops;")%>
    <% data = [ ]%>
    <% result.each do |record| %>
      <% data << "Bitter gourd size: #{record ["weight"]}　Sold to: #{record ["give_for"]}" %>
    <% end %>
    <form action="goya.cgi" method="POST">
       When you press the button below we'll take you to the other page of information sold to the size of the bitter gourd < Br > < Br >
       <!-Assign the data you want to send to value->
       <!-Use name = "goya" as a marker for information->
      <input type="text" name="goya" value="<%= data.join(' ') %>">
      <input type="submit" name="send" >
    </form>
  </body>
</html>
